/banned-ips.txt
/banned-players.txt
/ops.txt
/white-list.txt
/*.log*
/*\.debug
/*\.properties
/simpleserver/
/world/

GUI.jar
SimpleServer.jar
minecraft_server.jar

/bin/

*~
*.orig
/.ant-*
.DS_Store
*.BASE.*
*.BACKUP.*
*.LOCAL.*
*.class
